openapi: 3.1.0
info:
  title: LemonCake Buyer API
  description: |
    Machine-to-machine payments for AI agents. Mint spend-capped Pay Tokens,
    check buyer balance, revoke tokens (kill switch), and list charges for
    reconciliation / accounting sync.
  version: 0.0.3
  termsOfService: https://lemoncake.xyz/legal/dify-plugin
  contact:
    name: LemonCake
    email: contact@aievid.com
    url: https://lemoncake.xyz
  license:
    name: MIT
    url: https://github.com/evidai/lemon-cake/blob/main/LICENSE

servers:
  - url: https://api.lemoncake.xyz
    description: Production

paths:
  /api/tokens:
    post:
      operationId: issue_pay_token
      summary: Issue a spend-capped Pay Token
      description: |
        Mints a signed, time-boxed JWT the agent uses as a Bearer token to pay
        for upstream APIs. Scope is limited to one serviceId and a USDC cap.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [serviceId, limitUsdc]
              properties:
                serviceId:
                  type: string
                  description: Upstream service identifier (e.g. "openai-gpt4o")
                  example: "openai-gpt4o"
                limitUsdc:
                  type: string
                  description: Maximum spend in USDC (decimal string)
                  example: "10.00"
                expiresInSeconds:
                  type: integer
                  description: Token lifetime in seconds (default 86400)
                  default: 86400
                  minimum: 60
                  maximum: 2592000
                sandbox:
                  type: boolean
                  description: If true, mint a sandbox token that does not charge
                  default: false
      responses:
        "201":
          description: Pay Token issued
          content:
            application/json:
              schema:
                type: object
                required: [tokenId, jwt, serviceId, limitUsdc, expiresAt]
                properties:
                  tokenId:   { type: string, description: "Opaque token id for revoke/inspection" }
                  jwt:       { type: string, description: "The signed Pay Token to send as Bearer on the paid upstream call" }
                  buyerId:   { type: string }
                  serviceId: { type: string }
                  limitUsdc: { type: string, description: "Decimal string, e.g. '10.000000'" }
                  expiresAt: { type: string, format: date-time }
                  sandbox:   { type: boolean }
                  createdAt: { type: string, format: date-time }
        "401": { description: Invalid or expired Buyer JWT }
        "402": { description: Insufficient balance }
        "403": { description: Buyer suspended }
        "422": { description: Validation error }
        "429": { description: Rate limit exceeded }

  /api/auth/me:
    get:
      operationId: check_balance
      summary: Get current buyer balance and KYA tier
      description: |
        Returns the authenticated buyer's profile including USDC balance,
        KYA tier, and daily spend limit.
      responses:
        "200":
          description: Buyer profile
          content:
            application/json:
              schema:
                type: object
                properties:
                  id: { type: string, description: "User ID" }
                  name: { type: string }
                  email: { type: string }
                  buyerId: { type: string }
                  buyer:
                    type: object
                    properties:
                      id: { type: string }
                      balanceUsdc: { type: string }
                      kycTier: { type: string, enum: [NONE, KYA, KYC] }
                      dailyLimitUsdc: { type: string }
                      walletAddress: { type: string, nullable: true }
                      suspended: { type: boolean }
        "401": { description: Invalid or expired Buyer JWT }
        "404": { description: User not found for this JWT }
        "429": { description: Rate limit exceeded }
        "500": { description: Upstream error }

  /api/tokens/{tokenId}/revoke:
    patch:
      operationId: revoke_token
      summary: Atomically revoke a Pay Token (kill switch)
      description: |
        Atomic revoke — any in-flight charge using the token is rejected with
        HTTP 422. Idempotent: revoking an already-revoked token returns 200.
      parameters:
        - name: tokenId
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Token revoked (or was already revoked — idempotent)
          content:
            application/json:
              schema:
                type: object
                required: [id, revoked]
                properties:
                  id:      { type: string, description: "The tokenId that was revoked" }
                  revoked: { type: boolean, enum: [true] }
        "401": { description: Invalid or expired Buyer JWT }
        "403": { description: Buyer suspended }
        "404": { description: Token not found or not owned by this buyer }
        "409": { description: Token was already revoked (idempotent — treat same as 200) }

  /api/charges:
    get:
      operationId: list_charges
      summary: List recent charges for reconciliation
      parameters:
        - name: limit
          in: query
          description: Number of charges to return per page (default 20, max 100)
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
        - name: page
          in: query
          description: 1-based page index
          schema:
            type: integer
            default: 1
            minimum: 1
        - name: serviceId
          in: query
          description: Filter to a single serviceId
          schema: { type: string }
        - name: status
          in: query
          description: Filter by charge status
          schema:
            type: string
            enum: [PENDING, COMPLETED, FAILED]
      responses:
        "200":
          description: Charge list (paginated)
          content:
            application/json:
              schema:
                type: object
                required: [data, total, page]
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:         { type: string }
                        serviceId:  { type: string }
                        amountUsdc: { type: string, description: "Decimal string" }
                        tokenId:    { type: string }
                        sandbox:    { type: boolean }
                        status:     { type: string, enum: [PENDING, COMPLETED, FAILED] }
                        createdAt:  { type: string, format: date-time }
                  total: { type: integer }
                  page:  { type: integer }
        "401": { description: Invalid or expired Buyer JWT }
        "429": { description: Rate limit exceeded }

